/* body {
    background-color: yellow;
} */

.single-blog-box {
    border: 2px solid black;
    border-radius: 2rem;
    padding: 2rem 3rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.main-blog-area {
    border: 2px solid black;
    padding: 1rem;
}

.blog-title {
    color: lightskyblue;
}

.blog-name {
    font-size: 1rem;
}

.blog-comments {
    border: 2px solid black;
    padding: 1rem;
    margin-bottom: 1rem;
}

.blog-reply-user {
    font-weight: 500;
}

.blog-post {
    font-weight: 400;
    font-size: 1.5rem;
}

.blog-reply {
    font-weight: 500;
}

.reply-btn {
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: white;
}